<div class="container">
    <h1>List of Movies</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Release Year</th>
                <th>Director</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.id }}</td>
                    <td>
                        <span id="title-display-{{ movie.id }}">{{ movie.title }}</span>
                    </td>
                    <td>
                        <span id="release_year-display-{{ movie.id }}">{{ movie.release_year }}</span>
                    </td>
                    <td>
                        <form action="/updatemovies/{{ movie.id }}" method="POST" style="display:inline;">
                            <button type="submit">Update</button>
                        </form>
                        <form action="/delete-movie/{{ movie.id }}" method="POST" style="display:inline;">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No movies found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="location.href='/'" type="button">Back to Home</button>
</div>